@-webkit-keyframes fade-in {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 2s;
  -moz-animation: fade-in 2s;
  -o-animation: fade-in 2s;
  -ms-animation: fade-in 2s;
}
.three-bounce > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.three-bounce .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.three-bounce .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.double-bounce {
  width: 27px;
  height: 27px;

  position: relative;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.rotating-plane {
  width: 27px;
  height: 27px;
  background-color: #333;

  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.wave {
  width: 50px;
  height: 27px;
}

.wave > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.wave .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.wave .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.wave .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.wave .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.wandering-cubes {
  width: 27px;
  height: 27px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(22px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(22px) translateY(22px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(22px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.pulse {
  width: 27px;
  height: 27px;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.chasing-dots {
  width: 27px;
  height: 27px;
  position: relative;

  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.circle-wrapper {
  width: 22px;
  height: 22px;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.circle2  { -webkit-transform: rotate(30deg);  -ms-transform: rotate(30deg);  transform: rotate(30deg)  }
.circle3  { -webkit-transform: rotate(60deg);  -ms-transform: rotate(60deg);  transform: rotate(60deg)  }
.circle4  { -webkit-transform: rotate(90deg);  -ms-transform: rotate(90deg);  transform: rotate(90deg)  }
.circle5  { -webkit-transform: rotate(120deg); -ms-transform: rotate(120deg); transform: rotate(120deg) }
.circle6  { -webkit-transform: rotate(150deg); -ms-transform: rotate(150deg); transform: rotate(150deg) }
.circle7  { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg) }
.circle8  { -webkit-transform: rotate(210deg); -ms-transform: rotate(210deg); transform: rotate(210deg) }
.circle9  { -webkit-transform: rotate(240deg); -ms-transform: rotate(240deg); transform: rotate(240deg) }
.circle10 { -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg) }
.circle11 { -webkit-transform: rotate(300deg); -ms-transform: rotate(300deg); transform: rotate(300deg) }
.circle12 { -webkit-transform: rotate(330deg); -ms-transform: rotate(330deg); transform: rotate(330deg) }

.circle2:before  { -webkit-animation-delay: -1.1s; animation-delay: -1.1s }
.circle3:before  { -webkit-animation-delay: -1.0s; animation-delay: -1.0s }
.circle4:before  { -webkit-animation-delay: -0.9s; animation-delay: -0.9s }
.circle5:before  { -webkit-animation-delay: -0.8s; animation-delay: -0.8s }
.circle6:before  { -webkit-animation-delay: -0.7s; animation-delay: -0.7s }
.circle7:before  { -webkit-animation-delay: -0.6s; animation-delay: -0.6s }
.circle8:before  { -webkit-animation-delay: -0.5s; animation-delay: -0.5s }
.circle9:before  { -webkit-animation-delay: -0.4s; animation-delay: -0.4s }
.circle10:before { -webkit-animation-delay: -0.3s; animation-delay: -0.3s }
.circle11:before { -webkit-animation-delay: -0.2s; animation-delay: -0.2s }
.circle12:before { -webkit-animation-delay: -0.1s; animation-delay: -0.1s }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.0);
    transform: scale(0.0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.cube-grid {
  width:27px;
  height:27px;
}

.cube {
  width:33%;
  height:33%;
  background:#333;
  float:left;
  -webkit-animation: scaleDelay 1.3s infinite ease-in-out;
  animation: scaleDelay 1.3s infinite ease-in-out;
}

/*
 * Spinner positions
 * 1 2 3
 * 4 5 6
 * 7 8 9
 */

.spinner .cube:nth-child(1) { -webkit-animation-delay: 0.2s; animation-delay: 0.2s  }
.spinner .cube:nth-child(2) { -webkit-animation-delay: 0.3s; animation-delay: 0.3s  }
.spinner .cube:nth-child(3) { -webkit-animation-delay: 0.4s; animation-delay: 0.4s  }
.spinner .cube:nth-child(4) { -webkit-animation-delay: 0.1s; animation-delay: 0.1s  }
.spinner .cube:nth-child(5) { -webkit-animation-delay: 0.2s; animation-delay: 0.2s  }
.spinner .cube:nth-child(6) { -webkit-animation-delay: 0.3s; animation-delay: 0.3s  }
.spinner .cube:nth-child(7) { -webkit-animation-delay: 0.0s; animation-delay: 0.0s  }
.spinner .cube:nth-child(8) { -webkit-animation-delay: 0.1s; animation-delay: 0.1s  }
.spinner .cube:nth-child(9) { -webkit-animation-delay: 0.2s; animation-delay: 0.2s  }

@-webkit-keyframes scaleDelay {
  0%, 70%, 100% { -webkit-transform:scale3D(1.0, 1.0, 1.0) }
  35%           { -webkit-transform:scale3D(0.0, 0.0, 1.0) }
}

@keyframes scaleDelay {
  0%, 70%, 100% { -webkit-transform:scale3D(1.0, 1.0, 1.0); transform:scale3D(1.0, 1.0, 1.0) }
  35%           { -webkit-transform:scale3D(1.0, 1.0, 1.0); transform:scale3D(0.0, 0.0, 1.0) }
}

.wordpress {
  background: #333;
  width: 27px;
  height: 27px;
  display: inline-block;
  border-radius: 27px;
  position: relative;
  -webkit-animation: inner-circle 1s linear infinite;
  animation: inner-circle 1s linear infinite;
}

.inner-circle {
  display: block;
  background: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px;
}

@-webkit-keyframes inner-circle {
  0% { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes inner-circle {
  0% { transform: rotate(0); -webkit-transform:rotate(0); }
  100% { transform: rotate(360deg); -webkit-transform:rotate(360deg); }
}

.Events {
  height: 423px;
  overflow-x: hidden;
  overflow-y: auto;
}
.EventsWrap {
  position: relative;
}
.EventsWrap .spinner {
  position: absolute;
  right: 6px;
  top: -30px;
  width: 14px;
  height: 14px;
}
.EventsWrap button {
  margin-bottom: 8px;
}
.Event {
  position: relative;
  margin: 3px 0;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.Event:hover {
  background: #184274;
  color: #FFF;
}
.Event:hover strong {
  display: block;
}
.Event img {
  margin-right: 3px;
  border-radius: 8px;
  margin-top: 1px;
}
.Event i {
  margin-right: 6px;
  width: 10px;
  height: 10px;
  margin-top: 3px;
}
.Event i.unread {
  background: #F1ED91;
  border-radius: 5px;
}
.Event .user {
  width: 70px;
}
.Event b {
  margin: 0 6px 0 0;
  background: #b6b4a5;
  color: #000;
  padding: 0 3px;
  border-radius: 3px;
}
.Event b.type-WatchEvent {
  background: #d24043;
}
.Event strong {
  display: none;
  margin-left: 6px;
  font-weight: normal;
  color: #ccc;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 0;
  background: #184274;
  padding-left: 6px;
}
.Footer {
  margin-top: 12px;
  border-top: 2px solid #000;
  padding-top: 8px;
}
.Footer button {
  margin-right: 6px;
}
.Header {
  margin-bottom: 12px;
}
.Header input {
  width: 100%;
  font-size: 18px;
}
.ant-tabs {
  outline: none;
  box-sizing: border-box;
  position: relative;
  height: 457px;
  zoom: 1;
}
.ant-tabs:before,
.ant-tabs:after {
  content: " ";
  display: table;
}
.ant-tabs:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.ant-tabs-ink-bar {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 1px;
  box-sizing: border-box;
  height: 2px;
  background-color: black;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}
.ant-tabs-tabs-bar {
  border-bottom: 2px solid #000;
  margin-bottom: 8px;
}
.ant-tabs-nav-container {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  margin-bottom: -1px;
  zoom: 1;
}
.ant-tabs-nav-container:before,
.ant-tabs-nav-container:after {
  content: " ";
  display: table;
}
.ant-tabs-nav-container:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.ant-tabs-nav-container-scrolling {
  padding-left: 32px;
  padding-right: 32px;
}
.ant-tabs-tab-prev,
.ant-tabs-tab-next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
  margin-right: -2px;
  margin-top: 1px;
  width: 32px;
  height: 100%;
  line-height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  text-align: center;
}
.ant-tabs-tab-prev-icon,
.ant-tabs-tab-next-icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  line-height: inherit;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  font-family: sans-serif;
  font-size: 12px;
}
.ant-tabs-tab-prev-icon:before,
.ant-tabs-tab-next-icon:before {
  display: block;
  font-family: "anticon" !important;
}
.ant-tabs-tab-prev:hover,
.ant-tabs-tab-next:hover {
  color: #333333;
}
.ant-tabs-tab-btn-disabled {
  cursor: default;
  color: #ccc;
  pointer-events: none;
}
.ant-tabs-tab-next {
  right: 2px;
}
.ant-tabs-tab-next-icon:before {
  content: "\E611";
}
.ant-tabs-tab-prev {
  left: 0;
}
.ant-tabs-tab-prev-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.ant-tabs-tab-prev-icon:before {
  content: "\E611";
}
:root .ant-tabs-tab-prev {
  -webkit-filter: none;
          filter: none;
}
.ant-tabs-nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
}
.ant-tabs-nav-scroll {
  width: 99999px;
  overflow: hidden;
}
.ant-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  position: relative;
  margin: 0;
  list-style: none;
  float: left;
}
.ant-tabs-nav:before,
.ant-tabs-nav:after {
  display: table;
  content: " ";
}
.ant-tabs-nav:after {
  clear: both;
}
.ant-tabs-nav div.ant-tabs-tab-active > .ant-tabs-tab-inner,
.ant-tabs-nav div.ant-tabs-tab-active > .ant-tabs-tab-inner:hover {
  cursor: pointer;
  text-decoration: none;
  background: black;
  color: #fff;
}
.ant-tabs-nav div.ant-tabs-tab-disabled {
  pointer-events: none;
  cursor: default;
}
.ant-tabs-nav div.ant-tabs-tab-disabled .ant-tabs-tab-inner {
  color: #ccc;
}
.ant-tabs-nav .ant-tabs-tab {
  float: left;
  height: 100%;
  margin-right: 28px;
  box-sizing: border-box;
  position: relative;
}
.ant-tabs-nav .ant-tabs-tab > .ant-tabs-tab-inner {
  padding: 8px 20px;
  display: block;
  color: #666;
}
.ant-tabs-nav .ant-tabs-tab > .ant-tabs-tab-inner .anticon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
  top: -1px;
}
.ant-tabs-nav .ant-tabs-tab > .ant-tabs-tab-inner:hover {
  color: #4d4d4d;
  cursor: pointer;
}
.ant-tabs-nav .ant-tabs-tab > .ant-tabs-tab-inner:hover {
  text-decoration: none;
}
.ant-tabs-mini .ant-tabs-nav-container {
  font-size: 12px;
}
.ant-tabs-mini .ant-tabs-tab {
  margin-right: 24px;
}
.ant-tabs-mini .ant-tabs-tab > .ant-tabs-tab-inner {
  padding: 4px 16px;
}
.ant-tabs-tabpane-hidden {
  display: none;
}
.App {
  width: 376px;
  margin: 0 auto;
  font: 12px/1.5 arial, helvetica, sans-serif;
}
body {
  background: #BDD9ED;
  overflow: hidden;
}
hr {
  background: none;
  border: 0;
  border-top: 2px solid #000;
}

/*# sourceMappingURL=index.css.map*/